* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgreen;
}

#container {
    width: 90%;
    height: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: calc((100% / 5) - 30px);
    height: calc(100% / 8);
    background-color: lightgreen;
    border-radius: 30px;
}

.card i{
    font-size: 25px;
    margin-bottom: 10px;
}

.card span{
    text-transform: uppercase;
}

.none {
    display: none;
}
.block {
    display: block;
}